Dependencies
/node_modules
/.pnp
.pnp.js

Production
/dist
/build

Logs
logs
.log
npm-debug.log
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npmrc
.npmrc
.yarnrc

API folder specifics
api/node_modules
api/.env

Client folder specifics
client/node_modules
client/dist